body{
    font-family: 'Open Sans', sans-serif;
    background-color: gray rgb(11, 25, 218) rgb(219, 27, 155);
}
h1{
    text-align: center;
    font-size: 100px;
    color: fuchsia;
    text-decoration-color: lawngreen;
}

   
